@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat_Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat_Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat_Medium.ttf);
  font-weight: bold;
  font-style: normal;
}